.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 5px;
	white-space: nowrap;
}
.dropdown dt a img {
	position: relative;
	z-index: 1;
}
.dropdown dt a span span:first-child:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
}
.dropdown dt a span span {
	display: inline-block;
	padding: 0;
}
.dropdown dt a span span:first-child {
	padding: 0;
}
.dropdown dd {
	position: relative;
}
.dropdown a, .dropdown a:visited {
	color: #4a535f;
	text-decoration: none;
	outline: none;
}
.dropdown a:hover {
	color: #5d4617;
}

.dropdown dt a {
	position: relative;
	background: #fff;
	display: block;
	overflow: hidden;
	border:1px solid #000;
	width:100%;
	outline: none;
}
.dropdown dt a:after {
	content: '';
	background: #000;
	
	height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}

.dropdown dt a:before {
        content: "\f107";
    height: 3px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px;
    z-index: 2;
    text-align: center;
    font-family: FontAwesome;
    color: white;
    font-size: 19px;
}

.dropdown dd ul {
	    background: #fff;
    color: #000;
    display: none;
    left: 0px;
    padding: 0px 0px;
    position: absolute;
    width: 100%;
    border: 1px solid #000;
    list-style: none;
    max-height: 270px;
    overflow-y: auto;
    top: 3px;
    z-index: 2;
}

.dropdown dt a span span:first-child {
    margin-right: 6px;
}



.dropdown dd ul li span.flag {
    margin-right: 6px;
}

.dropdown dd ul li {
    border-bottom: 1px solid #000;
    padding: 0;
    margin: 0;
        position: relative;
        cursor: pointer;
}

.dropdown dd ul li span:last-child {
    position: absolute;
    top: 4px;
}

.dropdown dd ul li:last-child {
    border-bottom: 0px solid #000;
    padding: 0;
}


li a span:nth-child(2) {
    line-height: 2em;
}
.dropdown dd ul::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
 border-left:1px solid rgba(0,0,0,0.1);
}
.dropdown dd ul::-webkit-scrollbar-thumb {
 background: rgba(0,0,0,0.4);
/*-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5), 1px 0 0 #5cace9 inset, 2px 0 0 #b3d5ee inset;
    border-radius:10px;*/
}
.dropdown dd ul::-webkit-scrollbar-thumb:window-inactive {
 background: blue;
}
.dropdown span.value {
	display: none;
}
.dropdown dd ul li a {
	padding: 7px;
	display: block;
	font-size: 12px !important;
}
.dropdown dd ul li a:hover {
	background-color: rgba(0,0,0,0.05);
}
dl.dropdown {
	display: inline-block;
	width: 240px;
	margin: -3px 0 0 1px;
}
dl.dropdown span:nth-child(3) {
	color: rgba(0,0,0,0.4)
}
dl.dropdown > span:nth-child(2) {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
}
dl.dropdown span:nth-child(3) {
	float: right;
}
dl.dropdown dt span:nth-child(2) {
    color: black;
    font-size: 14px;
    font-weight: 400;
}
dl.dropdown dt span:nth-child(3) {
	display: none;
}
